.btn {
  padding: 0.7em 1em;
  font-size: 17px;
  line-height: 1em;
  text-decoration: none;
  background-color: var(--secondary-color);
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.btn .btn-round {
  width: 100%;
  display: inline-block;
  float: right;
  border-radius: 3em;
}

.btn:hover {
  background-color: var(--secondary-color-dark);
}

.back-to-top {
  position: fixed;
  bottom: 40px;
  right: 40px;
}
