.btn {
  padding: 0.7em 1.5em;
  font-size: 17px;
  background-color: var(--secondary-color);
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.btn:hover {
  background-color: var(--secondary-color-dark);
}
