.form {
}

.form > * {
  margin-bottom: 20px;
}

.form > *:last-child {
  margin-bottom: 0px;
}

.form > label {
  display: none;
}

.form > input {
  width: calc(50% - 10px);
}

.form > input:last-of-type {
  float: right;
}

.form > .input {
  padding: 0.5em 0;
  font-size: 17px;
  border: none;
  border-bottom: 1px solid #ccc;
  line-height: 2.5em;
  border-radius: 5px;
}

.form > textarea {
  width: 100%;
  min-height: 100px;
  max-height: 300px;
  height: 150px;
  resize: vertical;
}

.form *:focus {
  outline: 1px solid var(--secondary-color);
}
