@import "../base/reset.css";
@import "../base/variables.css";
@import "../base/layout.css";

@import "../components/button.css";
@import "../components/clock.css";
@import "../components/form.css";
@import "../components/mouse.css";
@import "../components/progress-bar.css";

.coming-soon > .row-short {
  text-align: center;
}

.logo {
  padding-bottom: 45px;
}
.main-title {
  font-size: 45px;
  text-transform: uppercase;
  font-weight: 900;
  padding-bottom: 15px;
}
.main-description {
  color: grey;
  font-size: 18px;
  padding-bottom: 45px;
}

.clock {
  margin-bottom: 45px;
}
