@import "../base/reset.css";
@import "../base/variables.css";
@import "../base/layout.css";

@import "../components/button.css";
@import "../components/clock.css";
@import "../components/form.css";
@import "../components/mouse.css";
@import "../components/progress-bar.css";

.coming-soon {
  padding-bottom: 30px;
}

.coming-soon > .row-short {
  text-align: center;
}

.coming-soon .logo {
  width: 100%;
  height: 50px;
  margin-bottom: 45px;
  object-fit: contain;
  object-position: center;
}
.main-title {
  font-size: 45px;
  text-transform: uppercase;
  font-weight: 900;
  padding-bottom: 15px;
}
.main-description {
  color: grey;
  font-size: 18px;
  padding-bottom: 45px;
}

.coming-soon .clock {
  margin-bottom: 30px;
}

.coming-soon .form {
  margin-bottom: 15px;
}
