@import "../base/reset.css";
@import "../base/variables.css";
@import "../base/layout.css";

@import "../components/button.css";
@import "../components/clock.css";
@import "../components/form.css";
@import "../components/mouse.css";
@import "../components/progress-bar.css";

.coming-soon {
  min-height: 100vh;
  padding-bottom: 30px;
  background-image: url(../../img/banner-1.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.coming-soon > .row-short {
  text-align: center;
}

.coming-soon .logo {
  width: 100%;
  height: 50px;
  margin-bottom: 45px;
  object-fit: contain;
  object-position: center;
}
.main-title {
  font-size: 45px;
  text-transform: uppercase;
  font-weight: 900;
  padding-bottom: 15px;
}
.main-description {
  color: grey;
  font-size: 18px;
  padding-bottom: 45px;
}

.coming-soon .clock {
  margin-bottom: 30px;
}

.coming-soon .form {
  margin-bottom: 15px;
}

.column > * {
  margin-bottom: 20px;
}

.column > *:last-child {
  margin-bottom: 0px;
}

.section-title {
  text-transform: uppercase;
  font-size: 20px;
  line-height: 1em;
  margin-bottom: 30px;
}

.content-desription {
  font-size: 17px;
  margin-bottom: 30px;
  color: grey;
}

.content-desription > a {
  color: var(--secondary-color);
  text-decoration: none;
}

.content-desription > a:hover {
  color: var(--primary-color);
  text-decoration: underline;
}

.progress-bar {
  margin-bottom: 20px;
}
